  <reports>
<% if @group -%>
    <group><%= @group %></group>
<% end -%>
<% if @categories -%>
    <categories><%= @categories %></categories>
<% end -%>
<% if @rule -%>
    <rule><%= @rule %></rule>
<% end -%>
<% if @level -%>
    <level><%= @level %></level>
<% end -%>
<% if @location -%>
    <location><%= @location %></location>
<% end -%>
<% if @srcip -%>
    <srcip><%= @srcip %></srcip>
<% end -%>
<% if @user -%>
    <user><%= @user %></user>
<% end -%>
<% if @title -%>
    <title><%= @title %></title>
<% end -%>
<% if @email_to -%>
    <email_to><%= @email_to %></email_to>
<% end -%>
<% if @showlogs -%>
    <showlogs><%= @showlogs %></showlogs>
<% end -%>
  </reports>

